html,
body,
main {
  height: 100%;
  margin: 0px;
  font-family: sans-serif;
}
.bold-text,
.top-bar span,
.panel .panel-heading {
  font-weight: bold;
  color: #3f444a;
}
.left-menu {
  background-color: #282b30;
  width: 230px;
  padding-top: 10px;
  min-height: 100%;
  float: left;
}
.logo {
  display: block;
  text-align: center;
  margin: auto auto 20px;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border: 1px solid #727a85;
  border-radius: 50px;
  color: #727a85;
  text-transform: uppercase;
  font-weight: bold;
}
.element {
  color: white;
  padding: 7px 0px;
  border-top: 1px solid #727a85;
  font-size: 12px;
  cursor: pointer;
}
.application {
  width: calc(100% - 230px);
  float: right;
  background-color: #eeeeee;
  min-height: 100%;
}
.top-bar {
  padding: 10px;
  border-bottom: 1px solid #727a85;
  box-shadow: 0px 0px 1px #727a85;
  display: flex;
  justify-content: space-between;
  background-color: white;
}
.top-bar span {
  text-transform: uppercase;
  margin: auto 0px;
}
.button {
  background-color: #1d89e4;
  color: white;
  padding: 7px 12px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  display: block;
  cursor: pointer;
}
.panel {
  background-color: white;
  height: 20px;
  margin: 10px;
  box-shadow: lightgrey 1px 1px 1px;
  border-radius: 5px;
  padding: 17px;
  height: 100%;
}
.panel .panel-heading {
  margin: 5px 5px 30px;
}
.panel .inputs-holder {
  display: inline-flex;
  flex-wrap: wrap;
}
.panel .inputs-holder input {
  padding: 10px;
  border-radius: 3px;
  border: lightgrey 1px solid;
  margin: 5px;
  width: 250px;
}
.panel .inputs-holder label {
  flex: 0 0 35%;
}
.panel .button {
  margin-left: 85px;
  margin-top: 5px;
}
.div-table {
  border: solid 1px #1d89e4;
  border-collapse: collapse;
  text-align: left;
  width: 1100px;
  height: 350px;
  overflow-x: hidden;
  overflow-y: overlay;
}
.div-table table {
  border-collapse: collapse;
  width: 1200px;
}
.div-table table th {
  background-color: #1d89e4;
  color: white;
  padding: 15px;
  font-weight: normal;
  border-right: 1px solid;
  width: 200px;
}
.div-table table td {
  border-bottom: lightgrey 1px solid;
  padding: 5px;
  color: #9b9b9b;
}
.div-table table td div {
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  font-size: 15px;
}
.div-table table td input {
  padding: 10px;
  border-radius: 3px;
  border: lightgrey 1px solid;
  box-sizing: border-box;
  width: 100%;
  color: #9b9b9b;
}
.div-table table tr:hover {
  background-color: #d2e7fa;
}
.div-table::-webkit-scrollbar {
  width: 2px;
}
.div-table::-webkit-scrollbar-thumb {
  background-color: #1d89e4;
  margin-right: 5px;
}
.icon {
  border-radius: 30px;
  height: 30px;
  vertical-align: middle;
  margin: 0px 5px;
  cursor: pointer;
}
.hide {
  display: none;
}
