@background-menu-color: #282b30;
@light-gray: #727a85;
@blue: #1d89e4;
@app-background: #eeeeee;
@bold-text: #3f444a;

html, 
body,
main {
	height: 100%;
	margin: 0px;
	font-family: sans-serif;
}

.bold-text {
	font-weight: bold;
	color: @bold-text;
}

.left-menu {
	background-color: @background-menu-color;
	width: 230px;
	padding-top: 10px;
	min-height: 100%;
	float: left;
}

.logo {
	display: block;
	text-align: center;
	margin: auto auto 20px;
	width: 100px;
	height: 100px;
	line-height: 100px;
	border: 1px solid @light-gray;
	border-radius: 50px;
	color: @light-gray;
	text-transform: uppercase;
	font-weight: bold;
}

.element {
	color: white;
	padding: 7px 0px;
	border-top: 1px solid @light-gray;
	font-size: 12px;
	cursor: pointer;
}

.application {
	width: ~"calc(100% - 230px)";
	float: right;
	background-color: @app-background;
	min-height: 100%;
}

.top-bar {
	padding: 10px;
	border-bottom: 1px solid @light-gray;
	box-shadow: 0px 0px 1px @light-gray;
	display: flex;
	justify-content: space-between;
	background-color: white;
	span {
		text-transform: uppercase;
		margin: auto 0px;
		&:extend(.bold-text);
	}
}

.button {
	background-color: @blue;
	color: white;
	padding: 7px 12px;
	border: none;
	border-radius: 5px;
	font-weight: bold;
	display: block;
	cursor: pointer;
}

.panel {
	background-color: white;
	height: 20px;
	margin: 10px;
	box-shadow: lightgrey 1px 1px 1px;
	border-radius: 5px;
	padding: 17px;
	height: 100%;
	.panel-heading {
		margin: 5px 5px 30px;
		&:extend(.bold-text);
	}

	.inputs-holder {
		display: inline-flex;
		flex-wrap: wrap;

		input {
			padding: 10px;
			border-radius: 3px;
			border: lightgray 1px solid;
			margin: 5px;
			width: 250px;
		}

		label {
			flex: 0 0 35%;
		}
	}

	.button {
		margin-left: 85px;
		margin-top: 5px;
	}
}

.div-table {
	border: solid 1px @blue;
	border-collapse: collapse;
	text-align: left;
	width: 1100px;
	height: 350px;
	overflow-x: hidden;
	overflow-y: overlay;

	table {
		border-collapse: collapse;
		width: 1200px;

		th {
			background-color: @blue;
			color: white;
			padding: 15px;
			font-weight: normal;
			border-right: 1px solid;
			width: 200px;
		}
		td {
			border-bottom: lightgray 1px solid;
			padding: 5px;
			color: #9b9b9b;

			div {
				padding: 10px;
				box-sizing: border-box;
				width: 100%;
				font-size: 15px;
			}

			input {
				padding: 10px;
				border-radius: 3px;
				border: lightgray 1px solid;
				box-sizing: border-box;
				width: 100%;
			}
		}
		tr:hover {
			background-color: #d2e7fa;
		}
	}
}

.div-table::-webkit-scrollbar {
	width: 2px;
}

.div-table::-webkit-scrollbar-thumb {
	background-color: @blue;
	margin-right: 5px;
}

.icon {
	border-radius: 30px;
	height: 30px;
	vertical-align: middle;
	margin: 0px 5px;
	cursor: pointer;
}

.hide {
	display: none;
}